/* Code to just try it out */
h1 {
    /* border: 2px #eee solid; */
    color: brown;
    text-align: left;
    /* padding: 10px; */
}
.banner {
    padding: 0px;
    background-image: url('assets/banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px; /* Adjust the height as needed */
  }
  .banner-content {
    position: relative;
    z-index: 1; /* Ensure the content is above the overlay */
}
.banner-text {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold; */
    animation: slide-in 1s ease forwards; /* Apply the animation */
}
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity by modifying the last value (0.5) */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fd2a0d;
    --bs-btn-border-color: #fd2a0d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fd2a0d;
    --bs-btn-hover-border-color: #fd2a0d;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fd2a0d;
    --bs-btn-active-border-color: #fd2a0d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fd2a0d;
    --bs-btn-disabled-border-color: #fd2a0d;
}
<<<<<<< HEAD

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
=======
>>>>>>> f5a4fbc93233658bb2b357c51fc04122d39c43db
