/* Code to just try it out */
h1 {
    border: 2px #eee solid;
    color: rgb(81, 165, 42);
    text-align: center;
    padding: 10px;
}
.banner {
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust the height as needed */
  }
