<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href=../static/styles.css>
    <title>Python Function Output</title>
</head>
<body>
    <h1>Python Function Output:</h1>
    <div id="functionOutput"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $.get("/myfunction", function(data){
                $("#functionOutput").text(data);
            });
        });
    </script>
</body>
</html>